@model SacramentMeetingPlanner.Models.SacramentMeetingProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Program View</h1>
<hr />

<div>
    <h1 class="text-center">
        Sacrament Meeting - @Html.DisplayFor(model => model.DateDisplay)
    </h1>
    <hr />
    <div class="container">
        <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.ConductingLeader)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">@Html.DisplayFor(m=>m.ConductingLeader)</h4>
        </div>
        <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.OpeningHymnID)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">Page @Html.DisplayFor(m=>m.OpeningHymn.HymnNumber)</h4>
            <p class="col-md-12 text-center">@Html.DisplayFor(m => m.OpeningHymn.HymnTitle)</p>
        </div>
        <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.OpeningPrayer)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">@Html.DisplayFor(m=>m.OpeningPrayer)</h4>
        </div>
        <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.SacramentHymnID)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">Page @Html.DisplayFor(m=>m.SacramentHymn.HymnNumber)</h4>
            <p class="col-md-12 text-center">@Html.DisplayFor(m => m.SacramentHymn.HymnTitle)</p>
        </div>

        <h4 class="text-center program-padding">Passing of the Sacrament by the Aaronic Priesthood</h4>
        @if (Model.Speakers.Count > 1)
        {
            for (int i = 0; i < Model.Speakers.Count; i++)
            {
              if (i == Model.Speakers.Count - 1){
                break;
              }
                <div class="row program-padding">
                    <h4 class="col-md-4 right">@Html.DisplayFor(m => m.Speakers[i].Topic)</h4>
                    <div class="col-md-4 dots"></div>
                    <h4 class="col-md-4">@Html.DisplayFor(m=>m.Speakers[i].Name)</h4>
                </div>
            }

        }
        @if (Model.IntermediateHymn != null)
        {
            <div class="row program-padding">
                <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.IntermediateHymnID)</h4>
                <div class="col-md-4 dots"></div>
                <h4 class="col-md-4">Page @Html.DisplayFor(m=>m.IntermediateHymn.HymnNumber)</h4>
                <p class="col-md-12 text-center">@Html.DisplayFor(m => m.IntermediateHymn.HymnTitle)</p>
            </div>
        }
        @if (Model.Speakers.Count >= 1)
        {
            <div class="row program-padding">
                <h4 class="col-md-4 right">@Html.DisplayFor(m => m.Speakers.Last().Topic)</h4>
                <div class="col-md-4 dots"></div>
                <h4 class="col-md-4">@Html.DisplayFor(m=>m.Speakers.Last().Name)</h4>
            </div>
        }
        <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.ClosingHymnID)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">Page @Html.DisplayFor(m=>m.ClosingHymn.HymnNumber)</h4>
            <p class="col-md-12 text-center">@Html.DisplayFor(m => m.ClosingHymn.HymnTitle)</p>
        </div>
         <div class="row program-padding">
            <h4 class="col-md-4 right">@Html.DisplayNameFor(m => m.ClosingPrayer)</h4>
            <div class="col-md-4 dots"></div>
            <h4 class="col-md-4">@Html.DisplayFor(m=>m.ClosingPrayer)</h4>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SacramentMeetingProgramID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
