@model SacramentMeetingPlanner.Models.SacramentMeetingProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SacramentMeetingProgram</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductingLeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningHymn.HymnID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingHymn.HymnID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacramentHymn.HymnID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateHymn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntermediateHymn.HymnID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SacramentMeetingProgramID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
